---
import Layout from "../components/Layout.astro";
---
<Layout pageTitle="Conoce mas de Nosotros"> 
<h1>Acerca de mi web</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium officia est perspiciatis, excepturi dignissimos blanditiis ea? Nulla deleniti, laboriosam tenetur explicabo nemo deserunt distinctio possimus ipsam hic quisquam quod repellat?</p>
</Layout>