---
import Layout from "../components/Layout.astro";
import Card from "../components/card.astro";
---

<Layout pageTitle="Mis Servicios">
    <h1>Acerca de mi Servicios</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
        sapiente quos, ea autem est animi aperiam architecto enim et vero
        praesentium dolor non dicta aspernatur eum. Quo voluptas expedita
        modi?
    </p>

    <Card title="hola mundo " content="esto es una prueba" />
    <Card
        title="programacion"
        content="servicio de desarrollo de aplicaciones"
    />
    <Card title="diseño" content="diseño de interface web" />
    <Card
        title="asistencia profecional"
        content="ofrecemos asistencia profesional "
    />
     <Card/>
</Layout>